<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internship.analysis.mapper.ImsPracticeAnalysisMapper">
    <!--实习人数相关统计分析-->
    <resultMap type="ImsPracticeStatisticsVo"  id="ImsPracticeStatisticsResult">
        <result property="userId"    column="user_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="status"    column="status"    />
        <result property="practiceType"    column="practice_type"    />
        <result property="practiceStatus"    column="practice_status"    />
        <result property="academicYear"    column="academic_year"    />
    </resultMap>

    <!--实习周志统计分析-->
    <resultMap type="ImsPracticeWeeklyStatisticsVo"  id="ImsPracticeWeeklyStatisticsResult">
        <result property="userId"    column="user_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="status"    column="status"    />
        <result property="week"    column="week"    />
        <result property="published"    column="published"    />
        <result property="assessmenType"    column="assessmen_type"    />
        <result property="academicYear"    column="academic_year"    />
    </resultMap>

    <!--实习工资统计分析-->
    <resultMap type="ImsPracticeWareStatisticsVo" id="ImsPracticeWareStatisticsResult">
        <result property="userId"    column="user_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="postWage"    column="post_wage"    />
        <result property="academicYear"    column="academic_year"    />
    </resultMap>

    <!--实习人数相关统计分析-->
    <sql id="selectPracticeListByDeptId">
        SELECT ip.user_id, ip.task_id, it.academic_year, ip.practice_type,ip.status, ip.practice_status, su.dept_id
        FROM ims_practice ip left join sys_user su on su.user_id = ip.user_id left join ims_task_info it on it.task_id = ip.task_id
    </sql>

    <!--实习周志统计分析-->
    <sql id="selectPracticeWeeklyListByDeptId">
        SELECT ip.user_id, ip.task_id, it.academic_year, su.dept_id, ipw.assessmen_type, ipw.week, ipw.status, ipw.published
        FROM ims_practice ip left join sys_user su on su.user_id = ip.user_id left join ims_task_info it on it.task_id = ip.task_id left join ims_practice_weekly ipw on ip.practice_id = ipw.practice_id
    </sql>

    <!--实习工资统计分析-->
    <sql id="selectPracticeWareListByDeptId">
        SELECT ip.user_id, ip.task_id, it.academic_year, su.dept_id,ib.post_wage
        FROM ims_practice ip left join sys_user su on su.user_id = ip.user_id left join ims_task_info it on it.task_id = ip.task_id left join ims_benefits ib on ip.practice_id = ib.practice_id
    </sql>

    <!--实习人数统计相关分析接口-->
    <select id="selectPracticeStatisticsList" parameterType="ImsPracticeStatisticsVo" resultMap="ImsPracticeStatisticsResult">
        <include refid="selectPracticeListByDeptId"/>
        <where>
            <if test="academicYear != null  and academicYear != ''"> and it.academic_year = #{academicYear}</if>
            <if test="deptId != null and deptId != ''">AND (su.dept_id = #{deptId} OR su.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors)))</if>
        </where>
    </select>

    <!--实习周记统计相关分析接口-->
    <select id="selectPracticeWeeklyStatisticsList" parameterType="ImsPracticeWeeklyStatisticsVo" resultMap="ImsPracticeWeeklyStatisticsResult">
        <include refid="selectPracticeWeeklyListByDeptId"/>
        <where>
            <if test="academicYear != null  and academicYear != ''"> and it.academic_year = #{academicYear}</if>
            <if test="week != null  and week != ''"> and ipw.week = #{week}</if>
            <if test="deptId != null and deptId != ''">AND (su.dept_id = #{deptId} OR su.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors)))</if>
        </where>
    </select>

    <!--实习工资统计相关分析接口-->
    <select id="selectPracticeWareStatisticsList" parameterType="ImsPracticeWareStatisticsVo" resultMap="ImsPracticeWareStatisticsResult">
        <include refid="selectPracticeWareListByDeptId"/>
        <where>
            <if test="academicYear != null  and academicYear != ''"> AND it.academic_year = #{academicYear}</if>
            <if test="deptId != null and deptId != ''">AND (su.dept_id = #{deptId} OR su.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors)))</if>
            <if test=" 1 == 1">AND ib.post_wage IS NOT NULL</if>
        </where>
    </select>



</mapper>
