<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internship.thesis.mapper.ImsThesisInspectionMapper">
    
    <resultMap type="ImsThesisInspection" id="ImsThesisInspectionResult">
        <result property="inspectId"    column="inspect_id"    />
        <result property="topicId"    column="topic_id"    />
        <result property="process"    column="process"    />
        <result property="problem"    column="problem"    />
        <result property="teaOpinion"    column="tea_opinion"    />
        <result property="deptOpinion"    column="dept_opinion"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="subTime"    column="sub_time"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectImsThesisInspectionVo">
        select inspect_id, topic_id, process, problem, tea_opinion, dept_opinion, del_flag, sub_time, create_dept, create_by, create_time, update_by, update_time from ims_thesis_inspection
    </sql>

    <select id="selectImsThesisInspectionList" parameterType="ImsThesisInspection" resultMap="ImsThesisInspectionResult">
        <include refid="selectImsThesisInspectionVo"/>
        <where>  
            <if test="topicId != null  and topicId != ''"> and topic_id = #{topicId}</if>
            <if test="process != null  and process != ''"> and process = #{process}</if>
            <if test="problem != null  and problem != ''"> and problem = #{problem}</if>
            <if test="teaOpinion != null  and teaOpinion != ''"> and tea_opinion = #{teaOpinion}</if>
            <if test="deptOpinion != null  and deptOpinion != ''"> and dept_opinion = #{deptOpinion}</if>
            <if test="subTime != null "> and sub_time = #{subTime}</if>
            <if test="createDept != null  and createDept != ''"> and create_dept = #{createDept}</if>
        </where>
    </select>
    
    <select id="selectImsThesisInspectionById" parameterType="Long" resultMap="ImsThesisInspectionResult">
        <include refid="selectImsThesisInspectionVo"/>
        where inspect_id = #{inspectId}
    </select>
        
    <insert id="insertImsThesisInspection" parameterType="ImsThesisInspection" useGeneratedKeys="true" keyProperty="inspectId">
        insert into ims_thesis_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="topicId != null">topic_id,</if>
            <if test="process != null">process,</if>
            <if test="problem != null">problem,</if>
            <if test="teaOpinion != null">tea_opinion,</if>
            <if test="deptOpinion != null">dept_opinion,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="subTime != null">sub_time,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="topicId != null">#{topicId},</if>
            <if test="process != null">#{process},</if>
            <if test="problem != null">#{problem},</if>
            <if test="teaOpinion != null">#{teaOpinion},</if>
            <if test="deptOpinion != null">#{deptOpinion},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="subTime != null">#{subTime},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateImsThesisInspection" parameterType="ImsThesisInspection">
        update ims_thesis_inspection
        <trim prefix="SET" suffixOverrides=",">
            <if test="topicId != null">topic_id = #{topicId},</if>
            <if test="process != null">process = #{process},</if>
            <if test="problem != null">problem = #{problem},</if>
            <if test="teaOpinion != null">tea_opinion = #{teaOpinion},</if>
            <if test="deptOpinion != null">dept_opinion = #{deptOpinion},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="subTime != null">sub_time = #{subTime},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where inspect_id = #{inspectId}
    </update>

    <delete id="deleteImsThesisInspectionById" parameterType="Long">
        update ims_thesis_inspection set del_flag = '2' where inspect_id = #{inspectId}
    </delete>

    <delete id="deleteImsThesisInspectionByIds" parameterType="String">
        update ims_thesis_inspection set del_flag = '2' where inspect_id in
        <foreach item="inspectId" collection="array" open="(" separator="," close=")">
            #{inspectId}
        </foreach>
    </delete>
    
</mapper>